.Faq-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  background: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 10vh;
}
.Faq-main-heading {
  color: #000;
  font-size: 3rem;
  font-family: Cormorant Infant, serif;
  padding: 50px;
  font-weight: 700;
}
.Faq-content {
  /* background-color: #00000044;
  padding: 20px 40px;
  border-radius: 16px; */
  height: 70vh;
}
.Faq-single {
  button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    width: 60vw;
    border-bottom: 2px solid #e5e7eb;
    transition: 300ms linear;
    height: 10vh;
    font-family: "Josefin Sans";
    font-weight: 500;
  }

  button:hover {
    background-color: #dbdbdb;
  }

  p {
    background-color: #dbdbdb;
    font-size: 1.5rem;
    transition: 300ms linear;
    margin-top: 0;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: Josefin Sans, "serif";
    font-weight: 400;
    /* padding: 1rem; */

    color: black;
    width: 53vw;
  }
}
.Faq-main > img {
  width: 75vw;
}
.plus {
  position: relative;
  right: 28vw;
  bottom: 4vh;
}
.minus {
  position: relative;
  right: 28vw;
  bottom: 4vh;
}
@media (max-width: 786px) {
  .Faq-main {
    /* padding-top: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .Faq-main-heading {
    color: #000;
    padding: 50px;
  }
  .Faq-content {
    /* background-color: #00000044;
    padding: 10px 20px 10px 20px;
    border-radius: 16px; */
    width: 83vw;
  }
  .Faq-single {
    button {
      background-color: #f9fafb;
      color: #000;
      font-size: 1rem;
      border: none;
      padding: 0.5rem 1rem;
      /* font-size: 1.2rem; */
      cursor: pointer;
      width: 79vw;
      border-bottom: 2px solid #e5e7eb;
      transition: 300ms linear;
      height: 9vh;
    }

    button:hover {
      background-color: #dbdbdb;
    }

    p {
      width: 65.5vw;
      background-color: #dbdbdb;

      transition: 300ms linear;
      margin-top: 0;
      /* padding: 1rem; */
      font-size: 0.9rem;
      color: black;
      padding-left: 3rem;
    }
  }
  .Faq-single {
    padding-left: 1vw;
  }
  .Faq-main > img {
    width: 75vw;
    margin-top: 11vh;
  }
  .plus {
    position: relative;
    right: 37vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .minus {
    position: relative;
    right: 37vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
