.Footer {
  background: #141d74;
  padding: 5vh 10vw;

  h1 {
    font-size: 1.8rem;
    font-family: Josefin Sans, serif;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5rem;
    font-family: Josefin Sans, serif;
    font-weight: 500;
  }
  p {
    font-size: 1rem;
    font-family: Josefin Sans, serif;
    font-weight: 400;
  }
}
.Footer-Top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 20px;
}
.Footer-Top-Text span {
  color: #db2b2b;
  font-family: Josefin Sans, serif;
  font-weight: 700;
}
.Footer-Middle {
  /* text-align: center; */
  /* border-top: 2px solid rgb(219, 43, 43); */
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  p {
    width: 20vw;
    font-family: Josefin Sans, serif;
    font-family: 400;
  }
}
.Footer-Middle-Logo {
  img {
    width: 20vh;
  }
}
.Footer-Middle-About {
  img {
    width: 20vh;
  }
}
.Footer-Bottom {
  background: #db2b2b;

  p {
    padding: 0px !important;
    margin: 0px !important;
    font-family: Josefin Sans, serif;
    font-family: 400;
    font-size: 1rem;
  }
}

/* CSS */
.Footer-Middle-Help button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #db2b2b;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;

  font-size: 100%;
  height: 44px;
  line-height: 1;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: Josefin Sans, serif;
  font-weight: 500;
}

.Footer-Top button:disabled {
  cursor: default;
}

.Footer-Top button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
a {
  text-decoration: none;
  color: white;
}
.Footer-Middle-UseFull {
  line-height: 1;
}

@media (max-width: 768px) {
  .Footer-Top {
    flex-direction: column;
  }
  .Footer-Middle {
    flex-direction: column;
  }
  .Footer-Middle p {
    width: auto;
  }
  .Footer-Bottom p {
    font-size: 1rem;
  }
  .Footer-Middle-Help {
    padding-top: 20px;
    height: auto;
  }
}
.Footer-Middle-Help {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Footer-Middle-Help input {
  background-color: rgb(250, 251, 252);
  border-color: rgb(223, 225, 230);
  color: rgb(9, 30, 66);
  cursor: text;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  line-height: 1.42857;
  padding: 8px 6px;
  height: 36px;
  :hover {
    background-color: rgb(235, 236, 240);
  }
  :focus {
    background-color: rgb(255, 255, 255);
    border-color: rgb(76, 154, 255);
  }
}
