.Footer {
  background: #141d74;
  padding: 5vh 10vw;

  h1 {
    font-size: 1.8rem;
    font-family: Josefin Sans,serif;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5rem;
    font-family: Josefin Sans,serif;
    font-weight: 500;
  }
  p{
    font-size: 1rem;
    font-family: Josefin Sans,serif;
    font-weight: 400;
  }
}
.Footer-Top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}
.Footer-Top-Text span {
  color: rgb(219, 43, 43);
  font-family: Josefin Sans,serif;
  font-weight: 700;
}
.Footer-Middle {
  border-top: 2px solid rgb(219, 43, 43);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  p {
    width: 20vw;
    font-family: Josefin Sans,serif;
    font-family: 400;
  }
}
.Footer-Middle-About {
  img {
    width: 20vh;
  }
}
.Footer-Bottom {
  background: rgb(219, 43, 43);

  p {
    padding: 0px !important;
    margin: 0px !important;
    font-family: Josefin Sans,serif;
    font-family: 400;

  }
}

/* CSS */
.Footer-Top button {
  appearance: button;
  backface-visibility: hidden;
  background-color: rgb(219, 43, 43);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  
  font-size: 100%;
  height: 44px;
  line-height: 1;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: Josefin Sans,serif;
  font-weight: 500;
}

.Footer-Top button:disabled {
  cursor: default;
}

.Footer-Top button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
a{
  text-decoration: none;
  color: white;
}
.Footer-Middle-UseFull{
  line-height: 1;
}

@media (max-width: 768px) {
  .Footer-Top {
    flex-direction: column;
  }
  .Footer-Middle {
    flex-direction: column;
  }
  .Footer-Middle p {
    width: auto;
  }
  .Footer-Bottom p {
    font-size: 1rem;
  }
}
