.video-player-container {
  display: flex;
  flex: 0 0 25%;

  align-items: center;
  height: 100vh;
  background: url(./background.jpg);
  overflow-x: auto;

  gap: 20px;
  padding: 0px 20px;
}
.video-wrapper {
  video {
    height: 80vh;
   
    border-radius: 16px;
  }
}

.video-player-container::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

.video-player-container::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 100px;
}

.video-player-container::-webkit-scrollbar-track {
  background-color: #ecf0f1;
}

/* Styling scrollbar for Firefox */
.video-player-container {
  scrollbar-width: 2px;
  scrollbar-color: #3498db #ecf0f1;
}
@media (max-width: 786px) {

  .video-wrapper {
    video {
      height: 20vh;
     
      border-radius: 16px;
    }
  }
  .video-player-container {
    display: flex;
    flex: 0 0 25%;
  
    align-items: center;
    height: 24vh;
    background: red;
    overflow-x: auto;
  
    gap: 20px;
    padding: 0px 20px;
  }
}
