/* SocialBar.css */

.social-bar {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.social-bar a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.social-bar img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.img{
  font-size: 30px;
}
.you:hover{
  color: blue;
}
/* .pin:hover{
  color: #B7081B;
} */
.inst:hover{
  color: #F6056A;
}
/* .twi:hover{
  color: #1DA1F2;
} */
@media (max-width: 786px) {

  .social-bar {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
  }
}
