.Kitchen {
  height: 100vh;
  width: 100vw;
  background: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  span {
    padding-left: 10vw;
    color: rgb(27, 37, 126);
    font-weight: 700;
    font-size: 2rem;
    font-family: Cormorant Infant, serif;
    font-weight: 700;
  }
}
.Kitchen-Flex {
  display: flex;
  margin: 0px 10vw 20px 10vw;
  img {
    width: 30vw;
  }
  p {
    color: rgb(219, 43, 43);
    font-weight: 400;

    font-size: 1.7rem;
    font-family: Josefin Sans,serif;
  }
}
.Kitchen-facts {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Kitchen-fact {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vw;
  width: 20vw;
  border-radius: 100%;

  h1{
    font-family: Cormorant Infant, serif;
    font-weight: 700;
    font-size: 1.5rem;
  } 
  p{
    font-family: Josefin Sans,serif;
    font-weight: 400;
    font-size: 1.1rem;
  }
}
.red {
  background:#EF3A3A;
}
.blue {
  background: #202B8C;
}
@media (max-width: 768px) {
  .Kitchen {
    p {
      font-size: 0.8rem;
    }

    span {
      margin-bottom: 10px;
      padding: 0px;
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .Kitchen-Flex {
    margin: 0px;
    flex-direction: column-reverse;
    align-items: center;
    img {
      width: 100vw;
      height: 180px;
    }
  }
  .Kitchen-facts {
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .Kitchen-fact {
    height: 42vw;
    width: 42vw;
    h1 {
      font-size: 1rem;
      line-height: 1rem;
      padding-top: 2vh;
    }
    p {
      font-size: 0.6rem;
      width: 8rem;
    }
    
  }
}
