.Kitchen {
  width: 100%;
  height: 90vh;
  background: url("./OurStory-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  span {
    color: #141d74;
    font-size: 2rem;
    font-family: Cormorant Infant, serif;
    font-weight: 700;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Kitchen-Flex {
  display: flex;
  margin: 0px 10vw 20px 10vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;

  justify-content: space-around;

  background-color: #ffffff68;
  border-radius: 16px;

  padding: 2.5vw;
  transition: 300ms linear;
  img {
    width: 30vw;
  }
  p {
    color: #db2b2b;
    font-weight: 400;

    font-size: 1.7rem;
    font-family: Josefin Sans, serif;
    padding-top: 40px;
  }
}
.hedr {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  p {
    padding: 0px;
  }
}
.Kitchen-facts {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 25px;
}
.Kitchen-fact {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border-radius: 100%;

  h1 {
    font-family: Cormorant Infant, serif;
    font-weight: 700;
    font-size: 1.6rem;
  }
  p {
    font-family: Josefin Sans, serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.red {
  background: #db2b2b;
}
.blue {
  background: #141d74;
}
@media (max-width: 768px) {
  .Kitchen {
    p {
      font-size: 1.5rem;
    }

    /* span {
      margin-bottom: 10px;
      padding: 0px;
      text-align: center;
      font-size: 1.2rem;
      position: none;
      top: 0vh;
    } */
  }

  .Kitchen-Flex {
    margin: 0px;
    flex-direction: column-reverse;
    align-items: center;
    img {
      width: 100vw;
      /* height: 180px; */
    }
    p {
      padding-top: 10px;
    }
  }
  .Kitchen-facts {
    display: none;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .Kitchen-fact {
    height: 40vw;
    width: 42vw;
    padding-bottom: 1.7vh;
    h1 {
      font-size: 0.8rem;
      line-height: 1rem;
      padding-top: 2vh;
    }
    p {
      font-size: 0.6rem;
      width: 8rem;
      padding-bottom: 10px;
    }
  }
}
